*.iml
*.iws
*.iwp
*.ipr
.idea/
.settings
.project
.classpath
rebel.xml
rebel-remote.xml
*.orig
*.bak
target
${liferay.dir}
/samples/application-widgets/*.iml
/samples/application-webapp/*.iml
