<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
	
	#js("$javascript_folder/jquery-1.10.2.min.js")
	#js("$javascript_folder/jquery-plugins.js")
	#js("$javascript_folder/jquery.tools.min.js")
	#js("$javascript_folder/jqModal.js")
	#js("$javascript_folder/bootstrap.min.js")
	#js("$javascript_folder/jquery.dataTables.min.js")
	#js("$javascript_folder/jquery.timer.js")
	#js("$javascript_folder/jquery.dataTables.bootstrap.js")
	#js("$javascript_folder/jquery.dateFormat-1.0.js")
	#js("$javascript_folder/select2.min.js")
	#js("$javascript_folder/bootstrap-datetimepicker.min.js")
	#js("$javascript_folder/ColReorder.js")
	#js("$javascript_folder/jquery.cookie.js")
	<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

	$theme.include($top_head_include)
</head>

<body class="$css_class">

$theme.include($body_top_include)

#dockbar()

<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">
		<div id="heading">
			<h1 class="site-title">
				<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
					<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />

					#if ($show_site_name)
						<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
							$site_name
						</span>
					#end
				</a>

			</h1>

		</div>

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content">

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer" role="contentinfo">
		<p class="powered-by">
			#language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
		</p>
	</footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>