
@media (max-width: 767px)
{
	body
	{
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	.standalone-version-body
	{
		padding: 0px;
	}
	
	.main-view
	{
		padding-top: 5px;
	}

	.process-version
        {
        	font-size: 10px;
          	color: gray;
            float: right;
        }

	.navbar.left-menu
	{
		margin-right: 20px;
		float:none;
		width:100%;
		font-size: 20px;
		line-height: 30px;
		data-role: "page";
		position: fixed;
			top      : 0;
			left     : 0;
			z-index: 100;
	}
	
	.dataTables_paginate.paging_bootstrap.pagination
	{
		font-size: 22px;
		line-height: 30px;
	}

	
	.navigation-border
	{
		clear: left;
		display: block;
		overflow: hidden;
		margin-top: 40px;
	}

	
	.search-process-button,
	.start-process-button,
	.show-queues-button,
	.show-configuration-button,
	.search-button
	{
		cursor:pointer;
		text-align: -webkit-match-parent;
		margin: 10px;
		padding: 4px 12px;
		line-height: 38px;
		text-decoration: none;
		border: 1px solid rgb(116, 142, 209);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		background: rgb(97, 158, 248);
		color: #fff;
	}
	
	.search-process-button:hover,
	.start-process-button:hover,
	.show-queues-button:hover,
	.show-configuration-button:hover,
	.search-button:hover
	{
		background: rgb(102, 102, 102);
	}
	
	.queue-user-accordion
	{
		font-size: 20px;
		line-height: 26px;
	}
	
	.queue-list-row-process,
	.queue-list-row-queue
	{
		margin-top:3px;
		padding: 2px;
		text-align: -webkit-match-parent;
		margin-bottom: 5px;
		padding: 4px 12px;
		font-size: 18px;
		line-height: 26px;
		text-decoration: none;
		border-top: 1px solid #dddddd;
		cursor:pointer;
	}
	
	.queue-list-row-process:hover,
	.queue-list-row-queue:hover,
	.process-start-list-row:hover
	{
		background: rgb(102, 102, 102);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		color: #fff;
	}
	
	.process-start-list-row
	{
		font-size: 20px;
		line-height: 32px;
	}
	
	
	
	.queues-list
	{
		color: #999;
		background-color: #f5f5f5;
		min-height: 180px;
	}        

	.queue-list-name
	{
		float:left;
	}

	.queue-list-size
	{
		float: right;
		width: 10px;
		margin-right: 10px;
	}
	
	


	.nav.nav-tabs li
	{
		clear: left;
		width:100%;
		margin-top:5px;
	}
	
	.nav.nav-tabs li a
	{
		background: rgb(97, 158, 248);
		border: 1px solid rgb(116, 142, 209);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		color: #fff;
	}
	
	.nav.nav-tabs li a:hover
	{
		color: rgb(68, 68, 68);
		background: #fff;
		border: 1px solid rgb(68, 68, 68);
	}
	
	.nav.left-menu li
	{
		background: rgb(97, 158, 248);
		color: #fff;
		border: 1px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		margin: 2px;
		line-height: 16px;
		color: #fff;
	}
	
	.left-menu-link
	{
		color: #fff !important;
		text-decoration: none !important;
		text-shadow: none !important;
		border: 1px solid rgb(116, 142, 209);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		
	}
	
	.btn.btn-navbar.left-menu,
	.btn.btn-navbar.left-menu:hover
	{
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 12px;
		padding-top: 12px;
		background: rgb(97, 158, 248);
		margin-top: 2px;
		width: auto;
	}
	
	
	.process-table
	{
		border: none;
		border-collapse:collapse;
		width: 100% !important;
	}
	
	.search-table
	{
		border: none;
		border-collapse:collapse;
	}

	.process-table th,
	.search-table th
	{
		font-size: 16px;
		border:none;
		text-align: -webkit-match-parent;
		padding-bottom: 4px;
	}

	.process-table th,
	.search-table th
	{
		font-size: 16px;
		border:none;

	}

	.process-table td,
	.search-table td
	{
		font-size: 16px;
		border-bottom:none;
		border-left:none;
		border-right:none;
		border-top: 1px solid #dddddd;
		line-height: 28px;
	}
	
	.process-panel
	{
		float: none;
		width: auto;
		overflow: hidden;
	}
	
	.mobile-button
	{
		width: 100%;
	}
	
	.toggle-buttons
	{
		margin-bottom: 5px;
	}
	
	.dataTables_paginate.paging_bootstrap.pagination ul
	{
		width: 100%;
	}
	
	.dataTables_paginate.paging_bootstrap.pagination ul li a
	{
		width: 100%;
		background: rgb(97, 158, 248);
		color: #fff;
		border: 1px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		margin-top: 2px;
		line-height: 24px;
		color: #fff;
		padding-right: 0px;
		padding-left: 0px;
		text-align: center;
		border: 1px solid rgb(116, 142, 209);
		box-sizing:border-box;
		
		
	}
	
	.dataTables_paginate.paging_bootstrap.pagination ul li.active a,
	.dataTables_paginate.paging_bootstrap.pagination ul li.active a:hover,
	.dataTables_paginate.paging_bootstrap.pagination ul li.disabled a,
	.dataTables_paginate.paging_bootstrap.pagination ul li.disabled a:hover
	{
		display:none;
	}
	
	
	.dataTables_paginate.paging_bootstrap.pagination ul li a:hover
	{
		background: rgb(102, 102, 102);
	}
	


	.btn.aperte-button,
	.btn.aperte-button:hover
	{
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid rgb(116, 142, 209);

		font-size: 18px;
		background-color: rgb(64, 125, 247);
		background: rgb(64, 125, 247);
		color: #fff;
		margin-top: 5px;
		width: 100%;
		box-sizing:border-box;
		line-height: 32px;
		text-shadow: none;
	}
	
	.btn.login-button
	{
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:1px;
		padding: 12px 14px;
		font-size: 16px;
		background-color: rgb(64, 125, 247);
		background: rgb(64, 125, 247);
		color: #fff;

		width: 100%;
	}
	
	.input-medium.login-element-username,
	.input-medium.login-element-password
	{
		font-size: 18px;
		height: 28px;
		width: 100%;

	}
	
	.login-label
	{
		font-size: 18px;
		margin-right: 5px;
		margin-top: 5px;

	}
	
	.label-container
	{

	}
	
	.process-queue-name
	{
		font-size: 22px;
		text-align: center;
		background-color: #f5f5f5;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:1px;
		padding: 5px;
		box-sizing:border-box;
		margin-bottom: 2px;
		color: rgb(52, 58, 129);
	}

	.process-start-list-group
	{
		font-size: 18px;
		color: black;
		padding: 8px 4px 0px;
	}
	
	.td-hack {
		display: block;
		height: 50px;
		width: 100%;
		display: table;
	}
	
	.td-hacks-buttons
	{
		width: 100%;
		position: absolute;
	}
	
	tr td .btn.aperte-button.aperte-button-hide
	{
		overflow: hidden;
		margin: 0px 0px 0px 12px;
		padding: 2px 8px 2px 8px;
		float: left;
		overflow: hidden;
		display: table-cell;
	}
	

}
@media (min-width: 768px)
{
	.standalone-version-body
	{
		padding: 10px;
	}
	
	.main-view
	{
		width: 100%;
		display: block;
		overflow: hidden;
	}
	
	.navbar.left-menu
	{
		width:200px;
		float:left;
		margin-right: 20px;
		
	}
	
	.nav.left-menu
	{
		display: none !important;
	}
	
	.mobile-button
	{
		clear: left;
		float: left;
		margin-top:5px;
	}
	
	.search-process-button,
	.start-process-button,
	.show-configuration-button,
	.search-button
	{
		cursor:pointer;
		text-align: -webkit-match-parent;
		margin-bottom: 5px;
		padding: 4px 12px;
		line-height: 20px;
		text-decoration: none;
		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:1px;
		color: #fff;
		font-size:16px;
	}
	
	.search-button
	{
		background: rgb(97, 158, 248);
		width: auto;
		margin-right: auto;
		overflow: hidden;
		display: block;
		float: left;
	}
	
	.search-process-button
	{
		background-color: rgb(250, 183, 82);
	}

	.start-process-button
	{
		background-color: rgb(137, 196, 74);
	}
	
	.show-configuration-button
	{
		background: rgb(97, 158, 248);
	}
	
	.search-process-button:hover,
	.start-process-button:hover,
	.show-configuration-button:hover,
	.process-start-list-row:hover,
	.search-button:hover
	{
		background: rgb(102, 102, 102)
	}
	
	.show-queues-button
	{
		display:none;
	}
	
	.queue-user-accordion
	{
		font-size: 16px;
		color: white !important;
	}
	
	.queue-list-row-process,
	.queue-list-row-queue
	{
		margin-top:3px;
		padding: 2px;
		text-align: -webkit-match-parent;
		margin-bottom: 5px;
		padding: 4px 12px;
		line-height: 20px;
		color: #0088cc;
		text-decoration: none;
		border-top: 1px solid #dddddd;
		cursor:pointer;
		font-size: 15px;
	}
	
	.queues-list
	{
		color: #999;
		background-color: #f5f5f5;
		min-height: 180px;
	}        

	.queue-list-name
	{
		width:150px;
		float:left;
	}

	.queue-list-size
	{
		float: right;
		width: 10px;
		margin-right: 10px;
	}
	
	.toggle-buttons
	{
		margin-bottom: 5px;
	}
	
	.process-table
	{
		border: none;
		border-collapse:collapse;
		width: 100% !important;
	}
	
	.search-table
	{
		border: none;
		border-collapse:collapse;
		float: right;
		overflow: hidden;
		margin-left: 20px;
		position: relative;
	}

	.process-table th,
	.search-table th
	{
		font-size: 16px;
		border:none;
		text-align: -webkit-match-parent;
		padding-bottom: 4px;
	}

	.process-table th,
	.search-table th
	{
		font-size: 16px;
		border:none;

	}
	
	.td-hack {
		width: 100%;
		height: 100%;
		position: relative;
	}
	
	.td-hacks-buttons
	{
		top: -27px;
		right: 0;
		position: absolute;
	}
	
	tr td .btn.aperte-button.aperte-button-hide
	{
		overflow: hidden;
		margin: 0px 0px 0px 12px;
		padding: 2px 8px 2px 8px;
	}

	.process-table td,
	.search-table td
	{
		font-size: 16px;
		border-bottom:none;
		border-left:none;
		border-right:none;
		border-top: 1px solid #dddddd;
		line-height: 28px;
	}
	
	.process-panel
	{
		float: none;
		width: auto;
		overflow: hidden;
		margin-left: 20px;
	}
	
	.btn.aperte-button:hover
	{
		-webkit-transform: scale(1.10);
	}

	.btn.aperte-button,
	.btn.aperte-button:hover
	{
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:1px;
		padding: 6px 12px;
		font-size: 16px;
		background-color: rgb(64, 125, 247);
		background: rgb(64, 125, 247);
		color: #fff;
		margin-left: 3px;
		margin-right:3px;
	}
	
	.btn.login-button
	{
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:1px;
		padding: 12px 14px;
		font-size: 16px;
		background-color: rgb(64, 125, 247);
		background: rgb(64, 125, 247);
		color: #fff;
		clear: left;
		float: left;
	}
	
	.input-medium.login-element-username,
	.input-medium.login-element-password
	{
		font-size: 18px;
		height: 28px;
		width: 250px;
		float: left;
		clear: left;
	}
	
	.login-label
	{
		font-size: 18px;
		float: left;
		clear: left;
		margin-right: 5px;
		margin-top: 5px;
		display:block;
	}
	
	.label-container
	{
		float:left;
		display:block;
	}
	
	.process-queue-name
	{
		font-size: 18px;
		background-color: #f5f5f5;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:1px;
		padding: 5px;
		box-sizing:border-box;
		margin-bottom: 2px;
		color: rgb(52, 58, 129);
	}

	.process-start-list-group
	{
		font-size: 16px;
		color: black;
		padding: 8px 4px 0px;
	}
	
	.collapse.navbar-collapse.left-menu
	{
		padding: 0px;
	}
	
	.glyphicon:empty
	{
		margin-right: 5px;
	}
}

.search-view
{
	overflow: hidden;
}

.select2-container .select2-choice span
{
	font-size: 16px;
}

.errors-view
{
	overflow: hidden;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	
}

.vaadin-widget-view
{
	background-repeat: no-repeat;
	background-image: url(../images/progress_bar/loading_animation_2.gif);
	background-position:center; 
}

.v-loading-indicator, 
.v-loading-indicator-delay, 
.v-loading-indicator-wait
{
	background-image: url(../images/progress_bar/loading_animation_2.gif) !important;
}

.portlet .v-app .v-loading-indicator, .portlet .v-app .v-loading-indicator-delay, .portlet .v-app .v-loading-indicator-wait 
{
	background-image: url(../images/progress_bar/loading_animation_2.gif) !important;
 }

.loader
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
    position:absolute;
	background-image: url(../images/progress_bar/loading_animation_2.gif);
	background-position:center; 
	z-index:-10;
}

.loader-2
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
    position:absolute;
	background-image: url(../images/progress_bar/loading_animation_1.gif);
	background-position:center; 
	z-index:10;
}

.icon-white
{
	margin-right: 4px;
	margin-left: -4px;
}

.sorting_desc,
.sorting,
.sorting_asc
{
	cursor:pointer;
	text-align: none;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] 
{
	cursor:text !important;
	background-color: rgb(255, 255, 255) !important;
}

.sorting_desc:hover,
.sorting:hover,
.sorting_asc:hover
{
	background-color: #f5f5f5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px;

}

#login-alerts
{
	display: block;
	float: left;
	clear: left;
}

.btn.mobile-button,
.btn.mobile-button:hover
{
	background: rgb(97, 158, 248);
	color: #fff;
	text-shadow: none; 
}

.btn.active.mobile-button,
.btn.active.mobile-button:hover
{
	background-color: rgb(233, 233, 233);
	color: rgb(56, 56, 56);
		text-shadow: none; 
}


.navbar-inner.left-menu
{
	padding: 0px;
	border: 0px;
	background-color: none;
	-webkit-box-shadow: none;
	background-image: none;
}

.new-process-block
{
	float: none;
	width: auto;
	padding: 2px;
	overflow: hidden;
		color: #999;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.process-start-list-row
{
		cursor:pointer;
		text-align: -webkit-match-parent;
		margin-top: 10px;
		padding: 4px 12px;
		line-height: 28px;
		font-size: 12px;
		border: 1px solid rgb(116, 142, 209);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		background: rgb(97, 158, 248);
		color: #fff;
}

.process-start-list-row div a
{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	
}

.vaadin-widgets,
.process-data-view
{
	float: none;
	width: auto;
	padding: 10px;
	overflow: hidden;
	color: black;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


.active li
{
	background-color: #f5f5f5;
}

input[type="text"],
textarea, 
button, button:hover
{
	background-image:none;
	background-color: white;
	border-radius: 4px;
}

.process-version
    {
    	font-size: 10px;
    	color: gray;
        float: right;
		clear: right;
		margin-top: 10px;
    }

.actions-view
{
	padding: 8px;
	margin-bottom: 5px;
	
}



.btn.btn-inverse.aperte-button,
.btn.btn-inverse.aperte-button:hover
{
	background-color: rgb(43, 43, 43);
}

.btn.btn-success.aperte-button,
.btn.btn-success.aperte-button:hover
{
	background-color: rgb(29, 163, 29);
}

.queue-user-accordion,
.queue-user-accordion:hover
{
	display: block;
	text-align: -webkit-match-parent;
	color: rgb(255, 255, 255);
	text-decoration: none;
	background: rgb(97, 158, 248);
	padding: 4px 12px;
	border: 1px solid rgb(40, 152, 255);
	margin-top: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px;
}

.queue-user-accordion:hover
{
	background: rgb(102, 102, 102)

}

.process-start-link,
.process-view-link,
.queue-list-link
{
	cursor:pointer;
}


.standalone-layout
{
	float: left;
	margin: 5px 5px 5px 5px;
	width: auto;
}  

.standalone-layout .v-label,
.standalone-layout .v-caption,
.standalone-layout .v-button,
.standalone-layout .v-textfield
{
	margin-left:auto;
	float: left;
	width: auto;
	clear: left; 
	margin: 5px 5px 5px 5px;
} 
 
.blank-view-layout,
.error-view-layout
{ 
	float: left;
	clear: left;
	border-color: rgb(199, 199, 199);
	border: 1px solid #b3b3b3;
	height: 100% !important;
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left:15px;
	margin-right:10px;
	background: white;
}

.blank-view-layout .v-label,
.error-view-layout .v-label
{
	float: left;
	width: 100% !important;
	clear: left; 
	margin: 5px 5px 5px 5px;
	font-size: 16px;

	font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
} 

.standalone-close-button
{
	float: right;
	margin-bottom: 15px;
	margin-right: 15px;
	    background-color: rgb(40, 126, 206);
    color: rgb(247, 248, 249);
    text-shadow: 0 -1px 0 rgb(46, 90, 132);
	
}

.process-version-info
{
	font-size: 10px;
	color: lightgray;
} 

.bottom-buttins-panel,
.top-buttins-panel,
.dialog-buttons-wrapper
{
	padding: 2px 2px 2px 2px;
}

.dialog-buttons-wrapper
{
	width: 100%;
}

.bottom-buttins-panel .v-button,
.top-buttins-panel .v-button,
.dialog-buttons-wrapper .v-button

{
	float: right; 
	margin: 2px 2px 2px 2px;
}

.process-comment-form-layout
{
	clear: left;
	margin-left:auto;
	width: auto;
}

.process-comment-form-layout .v-richtextarea
{
	width: 98% !important;
	padding: 2px 2px 2px 2px;
}

.process-comment-layout .v-label
{
	margin-left:auto;
	float: center;
	width: 100% !important;
	clear: right; 
	margin: 5px 5px 5px 5px;
}

.history-header-author
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	font-weight:bold; 
	float: left;
	clear: left;
	width: auto !important;
}

.history-header-time
{
	margin-left: 25px;
	margin-right: 5px;
	margin-top: 5px;
	float: left;
	width: auto !important;
}

.history-header-state
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	float: right;
	width: auto !important;
}

.history-item-body
{
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 15px;
	clear: left;
	float: left;
	width: auto !important;
}

.history-panel
{
	border-color: rgb(199, 199, 199);
	border: 1px solid #b3b3b3;
	width:98%;
	margin-right:10px;
}

.servlet-body
{

}

.servlet-response-messages
{
	clear: left;
	border-color: rgb(199, 199, 199);
	border: 1px solid #b3b3b3;
	width: auto;
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left:auto;
	margin-right:auto;
	background: rgb(249, 249, 249);
}

.servlet-response-messages .servlet-response-line-message
{
	font-size: 16px;
	width: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

.servlet-response-top
{
	float: left;
	clear: left;
	border-bottom: 1px solid #b3b3b3;
	margin-bottom: 15px;
}


#heading .logo {
    font-size: 0;
    text-indent: -9999em;
}