/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import "../chameleon/styles.css";

@media (max-width: 979px) 
{
	.navbar.left-menu
	{
		margin-right: 20px;
		float:none;
		width:100%;
		font-size: 20px;
		line-height: 30px;
		data-role: "page";
		position: fixed;
			top      : 0;
			left     : 0;
			z-index: 100;
	}
	
	.navigation-border
	{
		clear: left;
		display: block;
		overflow: hidden;
		margin-top: 40px;
	}

	
	.search-process-button,
	.start-process-button,
	.show-queues-button
	{
		cursor:pointer;
		text-align: -webkit-match-parent;
		margin: 10px;
		padding: 4px 12px;
		line-height: 30px;
		text-decoration: none;
		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:1px;
		background: rgb(97, 158, 248);
		color: #fff;
	}
	
	.search-process-button:hover,
	.start-process-button:hover,
	.show-queues-button:hover
	{
		background: rgb(102, 102, 102);
	}
	
	.queue-user-accordion
	{
		font-size: 20px;
		line-height: 26px;
	}
	
	.queue-list-row-process,
	.queue-list-row-queue
	{
		margin-top:3px;
		padding: 2px;
		text-align: -webkit-match-parent;
		margin-bottom: 5px;
		padding: 4px 12px;
		font-size: 18px;
		line-height: 26px;
		text-decoration: none;
		border-top: 1px solid #dddddd;
		cursor:pointer;
	}
	
	.queue-list-row-process:hover,
	.queue-list-row-queue:hover
	{
		background: rgb(102, 102, 102);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		color: #fff;
	}
	
	
	.queues-list
	{
		color: #999;
		background-color: #f5f5f5;
		min-height: 180px;
	}        

	.queue-list-name
	{
		float:left;
	}

	.queue-list-size
	{
		float: right;
		width: 10px;
		margin-right: 10px;
	}
	
	.process-start-list-row
	{
		font-size: 20px;
		line-height: 32px;
	}

}
@media (min-width: 980px) 
{
	.navbar.left-menu
	{
		width:200px;
		float:left;
		margin-right: 20px;
		
	}
	
	.nav.left-menu
	{
		display: none !important;
	}
	
	.search-process-button,
	.start-process-button
	{
		cursor:pointer;
		text-align: -webkit-match-parent;
		margin-bottom: 5px;
		padding: 4px 12px;
		line-height: 20px;
		text-decoration: none;
		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:1px;
		color: #fff;
	}
	
	.search-process-button
	{
		background-color: rgb(250, 183, 82);
	}

	.start-process-button
	{
		background-color: rgb(150, 219, 76);
	}
	
	.search-process-button:hover,
	.start-process-button:hover
	{
		background: rgb(102, 102, 102)
	}
	
	.show-queues-button
	{
		display:none;
	}
	
	.queue-user-accordion
	{
		font-size: 16px;
	}
	
	.queue-list-row-process,
	.queue-list-row-queue
	{
		margin-top:3px;
		padding: 2px;
		text-align: -webkit-match-parent;
		margin-bottom: 5px;
		padding: 4px 12px;
		line-height: 20px;
		color: #0088cc;
		text-decoration: none;
		border-top: 1px solid #dddddd;
		cursor:pointer;
	}
	
	.queues-list
	{
		color: #999;
		background-color: #f5f5f5;
		min-height: 180px;
	}        

	.queue-list-name
	{
		width:150px;
		float:left;
	}

	.queue-list-size
	{
		float: right;
		width: 10px;
		margin-right: 10px;
	}

}


.main-view
{
	width: 100%;
}

.navbar-inner.left-menu
{
	padding: 0px;
	border: 0px;
	background-color: none;
	-webkit-box-shadow: none;
	background-image: none;
}

.standalone-version-body
{
	padding: 10px;
}

.new-process-block
{
	float: none;
	width: auto;
	padding: 2px;
	overflow: hidden;
		color: #999;
	background-color: #f5f5f5;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.process-start-list-row
{
	border-bottom: 1px solid #dddddd;
}



.vaadin-widgets,
.process-data-view
{
	float: none;
	width: auto;
	padding: 10px;
	overflow: hidden;
	color: #999;
	background-color: #f5f5f5;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


.active li
{
	background-color: #f5f5f5;
}

input[type="text"],
textarea, 
button, button:hover
{
	background-image:none;
	border-radius: 4px;
	background: none;
}

.process-table
{
	border: none;
	border-collapse:collapse;
}

.process-table th
{
	font-size: 16px;
	border:none;
	text-align: -webkit-match-parent;
	padding-bottom: 4px;
}

.process-table th
{
	font-size: 16px;
	border:none;

}

.process-table td
{
	font-size: 16px;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top: 1px solid #dddddd;
	line-height: 28px;
}


.actions-view
{
	padding: 8px;
	margin-bottom: 5px;
	
}

.btn.aperte-button:hover
{
	-webkit-transform: scale(1.10);
}

.btn.aperte-button,
.btn.aperte-button:hover
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px;
	padding: 16px 25px;
	font-size: 16px;
	background-color: rgb(64, 125, 247);
	color: #fff;
	margin-left: 3px;
	margin-right:3px;
}

.btn.btn-inverse.aperte-button,
.btn.btn-inverse.aperte-button:hover
{
	background-color: rgb(43, 43, 43);
}

.btn.btn-success.aperte-button,
.btn.btn-success.aperte-button:hover
{
	background-color: rgb(29, 163, 29);
}

.queue-user-accordion,
.queue-user-accordion:hover
{
	display: block;
	text-align: -webkit-match-parent;
	color: rgb(255, 255, 255);
	text-decoration: none;
	background: rgb(97, 158, 248);
	padding: 4px 12px;
	border: 1px solid rgb(40, 152, 255);
	margin-top: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px;
}

.queue-user-accordion:hover
{
	background: rgb(102, 102, 102)

}





.process-panel
{
	float: none;
	width: auto;
	overflow: hidden;
	margin-left: 20px;
}

.process-table
{
	width: 100%;
}
.process-start-link,
.process-view-link,
.queue-list-link
{
	cursor:pointer;
}


.standalone-layout
{
	float: left;
	margin: 5px 5px 5px 5px;
	width: auto;
}  

.standalone-layout .v-label,
.standalone-layout .v-caption,
.standalone-layout .v-button,
.standalone-layout .v-textfield
{
	margin-left:auto;
	float: left;
	width: auto;
	clear: left; 
	margin: 5px 5px 5px 5px;
} 
 
.blank-view-layout,
.error-view-layout
{ 
	float: left;
	clear: left;
	border-color: rgb(199, 199, 199);
	border: 1px solid #b3b3b3;
	height: 100% !important;
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left:15px;
	margin-right:10px;
	background: white;
}

.blank-view-layout .v-label,
.error-view-layout .v-label
{
	float: left;
	width: 100% !important;
	clear: left; 
	margin: 5px 5px 5px 5px;
	font-size: 16px;

	font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
} 

.standalone-close-button
{
	float: right;
	margin-bottom: 15px;
	margin-right: 15px;
	    background-color: rgb(40, 126, 206);
    color: rgb(247, 248, 249);
    text-shadow: 0 -1px 0 rgb(46, 90, 132);
	
}

.process-version-info
{
	font-size: 10px;
	color: lightgray;
} 

.bottom-buttins-panel,
.top-buttins-panel,
.dialog-buttons-wrapper
{
	padding: 2px 2px 2px 2px;
}

.dialog-buttons-wrapper
{
	width: 100%;
}

.bottom-buttins-panel .v-button,
.top-buttins-panel .v-button,
.dialog-buttons-wrapper .v-button

{
	float: right; 
	margin: 2px 2px 2px 2px;
}

.process-comment-form-layout
{
	clear: left;
	margin-left:auto;
	width: auto;
}

.process-comment-form-layout .v-richtextarea
{
	width: 98% !important;
	padding: 2px 2px 2px 2px;
}

.process-comment-layout .v-label
{
	margin-left:auto;
	float: center;
	width: 100% !important;
	clear: right; 
	margin: 5px 5px 5px 5px;
}

.history-header-author
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	font-weight:bold; 
	float: left;
	clear: left;
	width: auto !important;
}

.history-header-time
{
	margin-left: 25px;
	margin-right: 5px;
	margin-top: 5px;
	float: left;
	width: auto !important;
}

.history-header-state
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	float: right;
	width: auto !important;
}

.history-item-body
{
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 15px;
	clear: left;
	float: left;
	width: auto !important;
}

.history-panel
{
	border-color: rgb(199, 199, 199);
	border: 1px solid #b3b3b3;
	width:98%;
	margin-right:10px;
}

.servlet-body
{

}

.servlet-response-messages
{
	clear: left;
	border-color: rgb(199, 199, 199);
	border: 1px solid #b3b3b3;
	width: auto;
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left:auto;
	margin-right:auto;
	background: rgb(249, 249, 249);
}

.servlet-response-messages .servlet-response-line-message
{
	font-size: 16px;
	width: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

.servlet-response-top
{
	float: left;
	clear: left;
	border-bottom: 1px solid #b3b3b3;
	margin-bottom: 15px;
}

body {
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	font-size: 11px;
	background-color: #E9F3FB;
	color: #646465;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
}

#wrapper{
	border-left: solid 1px #CDD4E5;
	border-right: solid 1px #CDD4E5;
	background-color: #FFF;
	margin: 0% 5px 0% 5px;
	padding: 0% 0% 0% 0%;
}
#heading{
	height: 123px;	
	margin: 0px 5px 0;
	overflow: hidden;
	border: solid 1px #CDD4E5;
	position:relative;
}

#heading h1.company-title{
	position:absolute;
	top:20px;
	left:20px;
	display:block;
}

#heading h2.title-login{
	position:absolute;
	top:20px;
	right:20px;
	display:block;
	background: url('/axa-esod-theme/images/axaesod.png') no-repeat top right;
	width:200px;
	text-align:right;
	padding-top:40px;
	font-size: 9px;
	font-weight: normal;
	padding-right:15px;
}

h2.title-login a,
h2.title-login a:link,
h2.title-login a:visited{
	color: #8891A7;	
}
h2.title-login a:hover{
	text-decoration:underline;
}


#footer  {
	background: transparent url(/axa-esod-theme/images/footer_c_bg.gif) repeat-x scroll 0;
	clear: both;
	height: 31px;
	width: 100%;
}

#apertelink{
	height: 31px;
	width: 116px;
	background: transparent url(/axa-esod-theme/images/aperteworkflow.png) no-repeat top left;
	display:block;
	float:left;
	text-decoration:none;
}
 #bluesoftlink{
	height: 31px;
	background: transparent url(/axa-esod-theme/images/bls.png) no-repeat top left;
	width: 50px;
	display:block;
	float:left;
	text-decoration:none;
	margin-left:3px;
}

.v-button.v-button-main-panel-id-button
{
	width: auto !important;
}

.v-button.v-button-main-panel-desc-button
{
	width: auto !important;
}

/* --------------------- NAV ------------------------- */



#navigation{
	width: 100%;	
	float: left;
	padding-left:5px;
}

.menu-glowne a {
	font: bold 11px/16px arial, helvetica, sans-serif;
	display: block;
	margin: 0;	
	text-decoration: none;
}

#languages{
	position: absolute;
	top: 100px;
	right: 30px;
	display: block;
}

.menu-glowne .menu2-bg {
	background: url(/axa-esod-theme/images/srodek-poziom2.png) repeat-y 0 0;	
}


.menu-glowne{margin:0 0 0;float:left;position: relative;z-index: 100}
.menu-glowne ul.poziom1{margin:0 0 0 20px;
list-style: none;
	margin: 0;
	padding: 0;	
	float: left;}
.menu-glowne ul.poziom1 li{background:none;float:left;margin:0;padding:0;position:relative}
.menu-glowne ul.poziom1 li.first a, .menu-glowne ul.poziom1 li.first a span, 
.menu-glowne ul.poziom1 li.last a, .menu-glowne ul.poziom1 li.last a span,
.menu-glowne ul.poziom1 li a, .menu-glowne ul.poziom1 li a span{background:url(/axa-esod-theme/images/sprite-menu.gif) no-repeat 100% -152px;display:block;padding-right:4px}
.menu-glowne ul.poziom1 li.last a{background-position:100% -227px;padding-right:6px}
.menu-glowne ul.poziom1 li.last a span{background-position:0 -152px;padding-right:15px}
.menu-glowne ul.poziom1 li.first a span{background-position:0px -73px}
.menu-glowne ul.poziom1 li a span{background-position:0 -152px;color:#103184;font:bold 11px/18px Arial;padding:7px 10px 9px 13px;padding:7px 10px 9px 13px \9;text-transform:uppercase}
.menu-glowne ul.poziom1 li.wcisniety a, 
.menu-glowne ul.poziom1 li.wcisniety a span, 
.menu-glowne ul.poziom1 li.jq-aktywne a, 
.menu-glowne ul.poziom1 li.first a:hover, 
.menu-glowne ul.poziom1 li.first a:hover span, 
.menu-glowne ul.poziom1 li.last a:hover, 
.menu-glowne ul.poziom1 li.last a:hover span, 
.menu-glowne ul.poziom1 li a:hover, 
.menu-glowne ul.poziom1 li a:hover span{background-position:100% -189px;text-decoration:none}
.menu-glowne ul.poziom1 li.wcisniety.last a, 
.menu-glowne ul.poziom1 li.last a:hover{background-position:100% -265px}
.menu-glowne ul.poziom1 li.wcisniety a span, 
.menu-glowne ul.poziom1 li.jq-aktywne a span, 
.menu-glowne ul.poziom1 li.first a:hover span, 
.menu-glowne ul.poziom1 li.last a:hover span, 
.menu-glowne ul.poziom1 li a:hover span{background-position:0 -189px;text-decoration:none}
.menu-glowne ul.poziom1 li.first.jq-aktywne a span, 
.menu-glowne ul.poziom1 li.first a:hover span, 
.menu-glowne ul.poziom1 li.first.wcisniety a span{background-position:0 -112px;text-decoration:none}
.menu-poziom2{display:none;z-index: 900}
.jq-aktywne .menu-poziom2{display:block;position:absolute;top:31px;width:158px}
.menu-poziom2 .menu2-srodek{overflow:hidden}
.menu-poziom2 ul{background:url(/axa-esod-theme/images/tlo-ul-poziom2.png) no-repeat left bottom;margin:0 5px;overflow:hidden;padding:0 0 0}
.menu-glowne .menu-poziom2 .poziom2-dol{background:url(/axa-esod-theme/images/dol-poziom2.png) no-repeat 0 0;height:9px}
.menu-glowne ul.poziom1 li .menu-poziom2 ul li{float:none}
.menu-glowne ul.poziom1 li .menu-poziom2 ul li a{background:none;border-bottom:1px solid #D3DFEF}
.menu-glowne ul.poziom1 li .menu-poziom2 ul li a:hover span, 
.menu-glowne ul.poziom1 li .menu-poziom2 ul li a span{background:none;font:bold 10px/10px Arial;padding:4px 7px 4px 15px}
.menu-glowne ul.poziom1 li .menu-poziom2 ul li a:hover span {text-decoration:underline}
a:hover{text-decoration: underline}

.login-screen {
	width: 200px ;
	margin-left: auto;
	margin-right: auto;
}
.portlet-title {margin-left:5px;}


/**
 * "optional-" prefix means that the style is not necessarily used, it can be left blank
 * "generated-" prefix means that the style is calculated from some other color, and not directly selected by the editor user
 *
 **/

/* Application background */
.v-app {
    background: rgb(249, 249, 249);
}

.v-window,
.v-popupview-popup,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu {
    background-color: rgb(249, 249, 249);
    background-color: rgba(249, 249, 249, .85);
}

body.v-ie6 .v-window,
body.v-ie7 .v-window,
body.v-ie6 .v-popupview-popup,
body.v-ie7 .v-popupview-popup,
body.v-ie6 .v-filterselect-suggestpopup,
body.v-ie7 .v-filterselect-suggestpopup,
body.v-ie6 .v-datefield-popup,
body.v-ie7 .v-datefield-popup,
body.v-ie6 .v-contextmenu,
body.v-ie7 .v-contextmenu,
body.v-ie6 .v-menubar-submenu,
body.v-ie7 .v-menubar-submenu,
.v-panel-content,
.v-panel-bubble .v-panel-captionwrap,
.v-panel-bubble .v-panel-deco-bubble,
.v-tabsheet-content,
.v-tabsheet-tabitem-selected,
.v-slider-base,
.v-window-modalitycurtain,
.v-window-opaque,
.v-progressindicator-wrapper,
.v-accordion-item-caption,
.v-accordion-item-open .v-accordion-item-caption:active,
.v-accordion-opaque div.v-accordion-item-open,
.v-table-scrollposition,
.v-table-body {
    background-color: rgb(249, 249, 249);
}

/* Base font size and color */
.v-app,
.v-window,
.v-popupview-popup,
.v-app input,
.v-app button,
.v-app textarea,
.v-window input,
.v-window button,
.v-window textarea,
.v-popupview-popup input,
.v-popupview-popup button,
.v-popupview-popup textarea,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-datefield-calendarpanel-header button,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu,
.v-table-header-drag,
.v-filterselect-select-button .v-filterselect-input,
.v-drag-element {
    font-size: 13px;
    color: rgb(34, 34, 34);
}

.v-app select,
.v-window select,
.v-popupview-popup select,
.v-datefield-popup select {
    font-size: 13px;
}

.v-label,
.sidebar-menu .v-label,
.v-table-scrollposition {
@optional-generated-shadow @
}

/* Base background color */
.v-button:active,
.v-ie .v-button.v-pressed,
div.v-button-down,
.v-slider .v-slider-handle-active {
    background-color: rgb(161, 161, 161);
    border-color: rgb(103, 103, 103);
}

div.v-button-down:active {
    background-color: rgb(129, 129, 129);
}

.v-button:focus {
    background-color: rgb(161, 161, 161);
}

/* Base border color */
.v-button:active .v-button-wrap,
.v-ie .v-button.v-pressed .v-button-wrap,
.v-button-down .v-button-wrap,
.v-datefield-calendarpanel-header td,
.v-slider-base,
.v-tabsheet-scrollerNext,
.v-tabsheet-scrollerNext-disabled,
.v-tabsheet-scrollerNext-disabled:active,
.v-table-header-wrap,
.v-table-body,
.v-table-resizer,
div.v-table-focus-slot-left,
div.v-table-focus-slot-right,
input.v-textfield,
textarea.v-textarea,
.v-filterselect {
    border-color: rgb(129, 129, 129);
}

input.v-textfield,
textarea.v-textarea,
.v-filterselect {
    border-bottom-color: rgb(161, 161, 161);
    border-left-color: rgb(161, 161, 161);
    border-right-color: rgb(161, 161, 161);
}

.v-button,
.v-disabled.v-button:focus,
.v-disabled.v-button:active,
.v-datefield-button,
.v-datefield-calendarpanel-header button,
td.v-datefield-calendarpanel-month,
.v-datefield-calendarpanel-weekdays strong,
.v-slider-handle,
.v-table-header-wrap,
.v-table-header-drag,
.v-filterselect-prevpage-off,
.v-filterselect-nextpage-off,
.v-filterselect-prevpage,
.v-filterselect-nextpage,
.v-filterselect-select-button,
.v-splitpanel-hsplitter,
.v-splitpanel-vsplitter,
.v-splitpanel-hsplitter-locked,
.v-splitpanel-vsplitter-locked,
.v-accordion-opaque,
.v-accordion-opaque .v-accordion-item-open,
.v-accordion-opaque .v-accordion-item-caption,
.v-accordion-opaque .v-accordion-item-open .v-accordion-item-caption:active,
.v-tabsheet-scroller,
.v-csslayout-toolbar,
.v-menubar {
    background-color: rgb(201, 201, 201);
    border-color: rgb(129, 129, 129);
}

.v-button .v-button-wrap,
.v-disabled.v-button:focus .v-button-wrap,
.v-disabled.v-button:active .v-button-wrap,
.v-datefield-calendarpanel-header button,
td.v-datefield-calendarpanel-month,
.v-window-wrap,
.v-popupview-popup,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-menubar-submenu,
.v-panel-bubble .v-panel-caption-bubble,
.v-slider-handle,
.v-tabsheet-tabitem-selected .v-caption,
.v-table-header-wrap,
.v-table-header-drag,
.v-filterselect-prevpage-off,
.v-filterselect-nextpage-off,
.v-filterselect-prevpage,
.v-filterselect-nextpage,
.v-filterselect-select-button,
.v-progressindicator-indicator,
.v-accordion-item-caption,
.v-accordion-item-open .v-accordion-item-caption:active,
.v-tabsheet-scroller,
.v-csslayout-toolbar,
.v-menubar {

}

.v-datefield-calendarpanel-weekdays strong,
.v-splitpanel-hsplitter-small,
.v-splitpanel-vsplitter-small,
.v-splitpanel-hsplitter-small-locked,
.v-splitpanel-vsplitter-small-locked {
    background-color: rgb(161, 161, 161);
}

.v-progressindicator-wrapper {
    border-color: rgb(161, 161, 161);
}

.v-button,
.v-disabled.v-button:focus,
.v-disabled.v-button:active,
.v-datefield-calendarpanel-header button,
td.v-datefield-calendarpanel-month,
.v-tabsheet-tabitem-selected .v-caption,
.v-window-header,
.v-table-caption-container,
.v-accordion-item-caption,
.v-menubar .v-menubar-menuitem,
.v-filterselect-select-button .v-filterselect-input {
    text-shadow: 0 1px 0 rgb(223, 223, 223);
}

/* Background border color */
.v-window,
.v-popupview-popup,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu,
.v-panel-caption,
.v-panel-nocaption,
.v-panel-content,
.v-panel-deco,
.v-panel-light .v-panel-caption-light,
.v-panel-bubble .v-panel-captionwrap,
.v-panel-bubble .v-panel-content-bubble,
.v-panel-bubble .v-panel-deco-bubble,
.v-tabsheet-tabitem-selected,
.v-tabsheet-tabitem,
.v-tabsheet-spacertd div,
.v-tabsheet-content,
.v-tabsheet-deco,
.v-slider,
.v-splitpanel-hsplitter,
.v-splitpanel-vsplitter,
.v-splitpanel-hsplitter-locked,
.v-splitpanel-vsplitter-locked,
.v-table-scrollposition,
.v-accordion,
.v-accordion-item-caption,
.v-accordion-item-open,
.v-menubar-separator span {
    border-color: rgb(199, 199, 199);
}

/* Alternate colors */
.v-label-color,
.v-button-link,
.v-button-link:focus,
.v-button-link:active,
.v-disabled.v-button-link,
.v-disabled.v-button-link:focus,
.v-app a,
.v-popupview-popup a,
.v-popupview,
.sidebar-menu .v-label,
.v-tree-node-caption-link-enabled,
.v-tree-node-caption-link-disabled {
    color: rgb(40, 126, 206);
}

.v-button-default,
.v-disabled.v-button-default,
.v-disabled.v-button-default:focus,
.v-button-default:active,
.v-ie7 .v-button-default.v-pressed,
.v-ie8 .v-button-default.v-pressed,
.sidebar-menu .tab-selected,
.sidebar-menu .selected,
.v-horizontallayout-segment-alternate .v-button-down {
    border-color: rgb(46, 90, 132);
}

.v-button-default:focus,
.v-horizontallayout-segment-alternate .v-button-down:active {
    background-color: rgb(45, 107, 165);
}

.v-button-default:active .v-button-wrap,
.v-ie7 .v-button-default.v-pressed .v-button-wrap,
.v-ie8 .v-button-default.v-pressed .v-button-wrap,
.v-progressindicator-indicator,
.v-datefield-calendarpanel-day:hover,
.v-horizontallayout-segment-alternate .v-button-down .v-button-wrap {
    border-color: rgb(45, 107, 165);
}

.v-button-default,
.v-disabled.v-button-default,
.v-disabled.v-button-default:focus,
.v-button-default:active,
.v-ie7 .v-button-default.v-pressed,
.v-ie8 .v-button-default.v-pressed,
.v-panel-bubble .v-panel-caption,
.v-datefield-calendarpanel-day-selected,
.v-table tr.v-selected,
.v-contextmenu .gwt-MenuItem-selected,
.v-contextmenu .gwt-MenuItem-selected div,
.v-filterselect-suggestpopup .gwt-MenuItem-selected,
.v-progressindicator-indicator,
.v-tree-node-selected span,
.sidebar-menu .tab-selected,
.sidebar-menu .selected,
.v-horizontallayout-segment-alternate .v-button-down,
.v-menubar .v-menubar-menuitem-selected,
.v-menubar-submenu .v-menubar-menuitem-selected {
    background-color: rgb(40, 126, 206);
    color: rgb(247, 248, 249);
    text-shadow: 0 -1px 0 rgb(46, 90, 132);
}

.v-ie6 .v-progressindicator-indicator {
    background-color: rgb(40, 126, 206);
}

.v-panel-caption,
.v-table-striped .v-table-row-odd,
.sidebar-menu {
    background: rgb(220, 229, 238);
}

.sidebar-menu .tab-selected,
.sidebar-menu .selected {
    text-shadow: 0 1px 0 rgb(46, 90, 132);
}

.processtool-title {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.v-disabled {
    opacity: .6;
    filter: alpha(opacity = 60);
    cursor: not-allowed;
    color: #1B1D5C;
}

div.v-Notification {
    font-size: 13px;
    font-weight: bold;
}

div.v-Notification-invalid {
    background: #1B1D5C url(/axa-esod-theme/images/error-close-blue.png) no-repeat right top;
    border: 2px solid #000000;
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

div.v-Notification-invalid h1 {
    padding: 18px 0px 18px 44px;
    font-size: 14px;
    font-weight: bold;
    background: transparent url(/axa-esod-theme/images/stop.png) no-repeat 0 50%;
}

.v-button-pagedtable-button .v-button-caption {
    text-decoration: none;
}

.tti-head-outdated, .tti-head-outdated .v-button-caption {
    font-family: Arial;
    font-size: 18px;
    color: #cc0000;
    text-decoration: none;
    text-align: left;
    border: none;
}

.tti-head-ended, .tti-head-ended .v-button-caption {
    font-family: Arial;
    font-size: 18px;
    color: #999999;
    text-decoration: none;
    text-align: left;
    border: none;
}

.tti-head, .tti-head .v-button-caption {
	font-family:Arial;
	font-size:18px;
	color:#0093DD;
	text-decoration:none;
	text-align:left;
    border: none;
}

.tti-date {
	font-family:Arial;
	font-size:14px;
	color:black;
	text-align:left;
	text-decoration:none;
}

.tti-person {
	font-family:Arial;
	font-size:14px;
	color:black;
	text-align:left;
	text-decoration:none;
}

.tti-details {
	font-family:Arial;
	font-size:13px;
	font-weight: bold;
	color:black;
	text-align:left;
	text-decoration:none;
}

.v-panel-content-tti-panel  {
    cursor: pointer;
	background:url("/axa-esod-theme/images/gradient-blue.png") repeat-x scroll 0 0 transparent;
}

.v-panel-content-tti-panel-outdated {
    background: url("/axa-esod-theme/images/gradient-red.png") repeat-x scroll 0 0 transparent;
}

.v-panel-content-tti-panel-ended {
    background: url("/axa-esod-theme/images/gradient-green.png") repeat-x scroll 0 0 transparent;
}

.v-panel-content-tti-panel, .v-panel-content-tti-panel-outdated, .v-panel-content-tti-panel-ended, .v-panel-nocaption-tti-panel, .v-panel-deco-tti-panel {
	border:none;
}

.tti-range-label {
	font-family:Arial;
	font-size:24px;
	color:#0093DD;
	text-decoration:none;
	text-align:center;
}

.v-table-cell-content-limit-exceeded, .v-textfield-limit-exceeded, .limit-exceeded {
	color:red !important;
}

.v-table-cell-content-limit-exceeded-accepted, .v-textfield-limit-exceeded-accepted, .limit-exceeded-accepted {
	color:green !important;
}

.v-loading-indicator,
.v-loading-indicator-delay,
.v-loading-indicator-wait {
    width: 100%;
    height: 100%;
    margin: 0;
    background-position: 50%;
    background-color: rgba(244, 242, 242, 0.3);
    background-repeat: no-repeat;
    background-attachment: fixed;
	position: fixed !important;
	/*position: fixed !important;
    z-index: 99998 !important;*/
    background-image: url(/axa-esod-theme/images/loading.gif);
}

/*.v-app > .v-view {
	position:relative !important;
    z-index: 99999;
}*/

.v-caption-wrappedfield {
  display: none;
}

/*.borderless {
	border:none;
}

.with-border {
	border: 1px solid black;
}*/

.help_button {
	background:url("/axa-esod-theme/images/help_grey_12.png") no-repeat scroll left center transparent !important;
}

.help_button.with_message {
    background-image: none !important;
}

.help_button.with_message .v-button-caption {
    padding-right:15px;
    background:url("/axa-esod-theme/images/help_grey_12.png") no-repeat scroll right center transparent !important;
}

.v-customcomponent:hover .help_button, .help_button:hover {
	background-image:url("/axa-esod-theme/images/help_blue_12.png") !important;
}

.v-customcomponent:hover .help_button.with_message, .help_button.with_message:hover {
	background-image: none !important;
}

.v-customcomponent:hover .help_button.with_message .v-button-caption, .help_button.with_message:hover .v-button-caption {
	background-image:url("/axa-esod-theme/images/help_blue_12.png") !important;
}

.v-textfield-align-right, .v-table-cell-content-align-right {
   text-align: right;
}

.v-caption-horizontalgroup {
    height:0px;
}

.v-select-optiongroup-horizontalgroup .v-select-option {
    display: inline-block !important;
}

.v-select-optiongroup-horizontalgroup .v-select-option label {
    margin-left: 5px;
    margin-right: 10px;
}

.request-opinion-positive, .request-opinion-positive label{
	color:green !important;
}

.request-opinion-conditional, .request-opinion-conditional label{
	color:#B70 !important;
}

.request-opinion-negative, .request-opinion-negative label{
	color:red !important;
}

div div.see-this {
	border-width: 1px;
	border-style: solid;
	border-color: red;
}

.v-helprouter-bubble .popupContent .helpText{
	background-color: #eeeeee !important;
}

.v-tree-node-caption-link-enabled, .v-tree-node-caption-link-disabled{
	text-decoration: underline;
}
 .v-tree-node-caption-link-disabled{
    opacity: .6;
    filter: alpha(opacity = 60);
 }

.table-30 .v-table-row, .table-30 .v-table-row-odd{
    height:32px;
}
.v-ie7 .table-30 .v-table-row, .v-ie7 .table-30 .v-table-row-odd{
    height:31px;
}

.table-30 table *{
	border-collapse: collapse;
}

.v-disabled.help_button {
	display: none;
}

.v-ie7 .v-disabled,  .v-ie7 .v-readonly{
	color: #838383 !important;
    filter: alpha(opacity = 100) !important;
}

.bold, input.bold {
    font-weight: bold;
}

.v-button.v-button-main-panel-id-button
{
	width: auto !important;
}

.v-button.v-button-main-panel-desc-button
{
	width: auto !important;
}
.v-table-row-odd {     background : #e9e9e9 !important ;	}
.portlet-title {margin-left:5px;}

/*dekretacja*/
.v-table-row-not-accepted { 
	background-color: #FDD;
}
.v-ie6 .v-disabled .v-datefield-textfield,
.v-ie7 .v-disabled .v-datefield-textfield,
.v-ie8 .v-disabled .v-datefield-textfield,
.v-ie9 .v-disabled .v-datefield-textfield,
.v-disabled .v-datefield-textfield
{
	filter: none  !important;
	opacity: 1.0  !important;
}

.v-panel-content-table-with-row-header-panel.v-scrollable
{
	overflow-y:hidden !important;
}

.v-table-table-with-row-header-main-table,
.v-table-table-with-row-header-main-table > div
{
	overflow-y:hidden !important;
}

