<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_outer_join">true</property>
        <property name="hibernate.cglib.use_reflection_optimizer">true</property>

        <!--
         validator brakes deploy on jboss 5.1 as it reaches Validator provided with JBoss AS
        -->
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="hibernate.validator.autoregister_listeners">false</property>
        <property name="hibernate.search.autoregister_listeners">false</property>

        <!--<property name="hibernate.connection.autocommit">false</property>-->
        <!--<property name="hibernate.show_sql">true</property>-->

        <mapping class="pl.net.bluesoft.rnd.processtool.model.ProcessInstance"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.ProcessInstanceAttachmentAttribute"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.ProcessInstanceAttribute"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.ProcessInstanceLog"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.ProcessInstanceSimpleAttribute"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.UserData"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.UserAttribute"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.UserSubstitution"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.UserRole"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.UserAttributePredicates"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.UserAttributesSupport"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessDefinitionConfig"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessDefinitionPermission"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessQueueConfig"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessQueueRight"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessStateConfiguration"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessStatePermission"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessStateWidget"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessStateWidgetAttribute"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessStateActionAttribute"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessStateWidgetPermission"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessStateAction"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessStateActionPermission"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessToolSetting"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.config.ProcessToolSequence"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.processdata.ProcessComment"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.processdata.ProcessComments"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.processdata.ProcessDeadline"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.dict.db.ProcessDBDictionary"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.dict.db.ProcessDBDictionaryItem"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.dict.db.ProcessDBDictionaryItemValue"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.dict.db.ProcessDBDictionaryItemExtension"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.dict.db.ProcessDBDictionaryPermission"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.ProcessInstanceDictionaryAttribute"/>
        <mapping class="pl.net.bluesoft.rnd.processtool.model.ProcessInstanceDictionaryItem"/>
    </session-factory>
</hibernate-configuration>
